	*{
	    margin: 0;
	    padding: 0;
	}

	body{
	  background-color:#536582;
	  width: 100%;
	  height: 100%;
	}

	header{
	  background-color: white;
	  text-align: center;
	  color: black;
	}

	h1{
	  text-align: center;
	  padding: 4px;
	  padding-top: 60px;
	  font-family: 'Sofia' , cursive;
	  letter-spacing: 2px;
	}

	nav{
	  margin: 0 auto;
	  background-color: #401147;
	}

	nav ul li{
	  display: inline-block;
	}

	a{
	  text-decoration: none;
	  color: white;
      font-size: 18px;
	  padding: 8px;
	  display: inline-block;
	}

	li a:hover{
	  background-color: #d5dce8;
	  color: black;
	}

	section{
	  float: center;
	  display: inline-block;
	  width: 90%;
	  max-width: 100%;
	  padding: 2.5%;
	  margin: 50px 2.5%;
	  background-color:#5b3857;
	}

	h2{
	  text-align: center;
	  color: white;
	  font-size: 30px;	
	  font-family: 'Dancing Script', cursive;
	}
    
    #guitare{
      max-width: 100%;
      width: 100%; 
      height: 60%; 
    }
     
    .container {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
    }

    .container img {vertical-align: middle;}

    .container .content {
      position: absolute;
      bottom: 0;
      font-family: 'Sofia' , cursive;
      background: rgb(0, 0, 0); 
      background: rgba(0, 0, 0, 0.5); 
      color: #a1ff00;
      width: 80%;
      font-size: 18px;
      padding: 10px;
    }

    div.block {     
      margin-top: 25px;
      border: 1px solid #ccc;
      float: left;
      margin: 8px;
      margin-left: 13px;
      width: 180px;
    }

    div.block:hover {
      border: 1px solid #777;
    }

    div.block img {
      width: 100%;
      height: 130px;
      max-width: 100%;
    }

    div.text {
      padding-top: 6px;
      text-align: center;
      padding: 5px;
      font-size: 17px;
    }
	
	footer{
	  clear: both;
	  margin:0;
	  text-align: center;
	  padding: 20px;
	  background-color: black;
	  color: white;
	}

	@media only screen and (max-width: 680px){
   
    nav ul:active ul{
    display: inline-block;
      position: absolute;
      padding: 200px;   
      width: 35%;
      top:30px;
      right: 20px;
    }

    nav ul li{
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }

    nav:hover ul{
      display: inline-block;
    }
  }

    /* 
  ##Device = Low Resolution Tablets(Landscape)
*/

@media (min-width: 768px) and (max-width: 768px) {

    nav ul:active ul{
      display: inline-block;
      position: absolute;
      padding: 200px;   
      width: 35%;
      top:30px;
      right: 20px;
    }

    nav ul li{
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }

    nav:hover ul{
      display: inline-block;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (min-width: 320px) and (max-width: 657px) {
  
    nav ul:active ul{
      display: inline-block;
      position: absolute;
      padding: 200px;   
      width: 35%;
      top:30px;
      right: 20px;
    }

    nav ul li{
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 10px 0;
    }

    nav:hover ul{
      display: inline-block;
    }
}